* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

header {
    display: flex;
    z-index: 999;
    position: fixed;
    width: 87%;
    height: 81px;
    background: #050505;

    margin: 0px 82px;
}

.logo-header {
    height: 46px;
    width: 54px;
    padding: 17px 15px;
    cursor: pointer;
}

.navbar {
    background: #000;
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: -1px 23px;
}

.nav-text {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    color: #80806f;
    font-size: 15px;
    font-weight: 600;
}

.nav-text:hover {
    color: white;
    cursor: pointer;
}

.game {
    color: white;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: .2px;
}

.right-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    float: left;
    height: 100%;
    width: 277px;
    background: rgb(0, 0, 0);
}

.nav-logo {
    height: 27px;
    width: 44px;
    cursor: pointer;
}

.nav-logo-1 {
    height: 34px;
    width: 56px;
    cursor: pointer;
}

.nav-logo-search {
    height: 18px;
    width: 16px;
    padding-right: 23px;
    cursor: pointer;
}

.line {
    height: 100%;
    width: .3px;
    background: gray;

}

.section-1 {
    position: absolute;
    display: flex;
    width: 100%;
    height: 300px;
    background-image: url(img/hero_bg.webp);
    background-size: cover;
}

.img-bg {
    width: 100%;
    height: 585px;

}

.img-main-logo {
    width: 290px;
    height: 127px;
    position: absolute;
    left: 39%;
    top: 39%;
}

.section-2 {
    position: absolute;
    display: flex;
    width: 100%;
    height: 578px;
    background: #ffffff;
    top: 89%;
}

.sec-2-img-div {
    width: 50%;
    height: 100%;
    background: rgb(255, 255, 255);
}

.sec-2-img {
    width: 86%;
    height: 81%;
    padding-top: 55px;
}

h1 {
    display: flex;
    justify-content: left;
    color: rgb(0, 0, 0);
    font-family: SupercellHeadline-Heavy, sans-serif;
    font-weight: 750;
    font-size: 34px;
    line-height: 1.25;
    letter-spacing: -0.015em;
    width: 100%;
}

.letters {
    width: 49%;
    height: 293px;
    background: rgb(255, 255, 255);
    margin: 133px -0;


}

.sec-2-text {

    text-align: left;
    color: rgb(0, 0, 0);
    font-family: SupercellText-Regular, Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 17px;
    padding-top: 29px;
    line-height: 29px;
}

.sec-2-logos {
    display: flex;
    justify-content: space-between;
    bottom: 108px;
    left: 50%;
    position: absolute;
    height: 13%;
    width: 35%;
    background: #ffffff;
}

img {
    height: 51px;
    width: 140px;
}

.sec-3-img {
    width: 100%;
    height: 591px;
    position: absolute;
    top: 180%;


}

.sec-3 {
    background-color: rgba(255, 0, 0, 0);
    position: absolute;
    width: 100%;
    height: 592px;
    top: 180%;
}

.sec-3-head {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 47%;
    height: 43%;
    background-color: rgba(255, 0, 0, 0);
    top: 187px;
    left: 68px;
    text-align: left;

}

h2 {

    font-family: sans-serif;
    font-size: 34px;
    line-height: 1.25;
    letter-spacing: -.025em;
    font-weight: 600;
    color: white;
}

.sec-3-content {
    margin-top: 27px;
    line-height: 27px;
    font-size: 19px;
    color: white;

}

.sec-3-content-1 {
    color: white;
    font-size: 116px9px;
    margin-top: 10px;
    font-family: math;

}

.sec-3-logo {
    display: flex;
    justify-content: space-between;
    width: 209px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0);
}

.sec-3-icons {
    width: 26px;
    height: 26px;
    margin-top: 13px;
    cursor: pointer;

}

.sec-3-rightside {
    position: absolute;
    height: 100%;
    width: 38%;
    background-color: rgba(255, 0, 0, 0);
    right: 0px;

}

.img-right {
    height: 79%;
    width: 181%;
    padding: 53px 0px;

}

.section-4{
    position: absolute;
    width: 100%;
    height: 176px;
    top: 110rem;
    background-color: #267be4;
}
#sec-4-text{
    padding: 26px 125px;
    font-size: 35px;
    letter-spacing: -1.8px;

}
.Careers-button{
    background: #ffff;
    color: #000;
    margin: -21px 322px;
    width: 175px;
    height: 49px;
    border-radius: 12px;
    border: none;
    font-weight: 800;
    cursor: pointer;
}
.sec-3-pekka{
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    height: 218px;
    width: 34%;
    left: 69%;
    bottom: 153px;
}
.pekka-img{
    height: 218px;
    width: 224px;
}
footer{
    position: absolute;
    background: #000;
    width: 100%;
    height: 29rem;
    top: 121rem;

}
.social-media{
    display: flex;
    height: 14%;
    width: 19%;
    background: #ff0000;
    position: absolute;
    left: 11.5%;
    top: 7%;
}
.text-footer{
    color: white;
    font-family: Medium,Helvetica,Arial,sans-serif;
    font-size: 13px;
}